.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-wrapper {
  width: 500px;
  min-height: 400px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  padding-bottom: 40px;
}

.modal-header {
  position: relative;
  padding: 15px 50px 15px 20px;
  font-size: 16px;
  color: green;
  font-weight: bold;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 16px;
  color: green;
  font-weight: bold;
}

.modal-body {
  padding: 20px;
}

.modal-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color:black;
}

.modal-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color:black;
}

.modal-footer {
  display: flex;
  padding: 0 20px;
  gap: 50px;
  justify-content: center;
}

.button {
  min-height: 40px;
  min-width: 192px;
  box-sizing: border-box;
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 10px;
}

.btn-violet {
  background-color: #8a33fd;
  color: #ffffff;
  border: 2px solid #8a33fd;
}

.btn-white {
  background-color: #ffffff;
  color: #8a33fd;
  border: 2px solid #8a33fd;
}

.like-image{
  width: 300px;
  height: 300px;
  background: url("/image/parfum.jpg") no-repeat center ;
  margin: 0 auto 50px;
}
